.p-card .p-card-body {
    padding: 0.75rem;
}

.p-tabview .p-tabview-panels {
    padding: 0rem;
}

.custom-tabview .p-tabview-nav {
    display: flex;
}
  
.custom-tabview .p-tabview-nav li {
    flex: 1;
    text-align: center;
}
  
.custom-tabview .p-tabview-nav-link {
    justify-content: center;
    width: 100%;
}

.custom-selector-sidebar .p-sidebar-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.maximized-dialog {
    max-height: calc(96vh - 35px) !important;
    top: 35px !important;
}

.retailored-loader {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.65);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
    font-family: 'Inter', sans-serif;
}

.retailored-loader-content {
    text-align: center;
    animation: floatUp 0.6s ease-in-out;
}

.retailored-logo {
    font-size: 2.2rem;
    font-weight: 600;
    color: #2a2a2a;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    animation: pulse 2s infinite;
}

.retailored-text {
    margin-top: 1.2rem;
    font-size: 1rem;
    color: #555;
    font-weight: 400;
}

.squares-animation {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.square {
    width: 16px;
    height: 16px;
    background-color: #6366f1;
    animation: square-bounce 1.2s infinite ease-in-out;
    border-radius: 4px;
}

.square:nth-child(2) {
    background-color: #4b55d0;
    animation-delay: 0.2s;
}

.square:nth-child(3) {
    background-color: #a3a9f9;
    animation-delay: 0.4s;
}

@keyframes square-bounce {

    0%,
    80%,
    100% {
        transform: scale(0.95);
        opacity: 0.6;
    }

    40% {
        transform: scale(1.2);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes floatUp {
    from {
        transform: translateY(20px);
        opacity: 0.5;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {

    0%,
    100% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }
}

.retailored-text {
    margin-top: 1.2rem;
    font-size: 1rem;
    color: #555;
    font-weight: 400;
    display: inline-block;
}

.ellipsis {
    animation: ellipsis 1.5s infinite;
}

@keyframes ellipsis {
    0% {
        content: '';
    }

    33% {
        content: '.';
    }

    66% {
        content: '..';
    }

    100% {
        content: '...';
    }
}